.header {
  margin: 0;
  background-color: #ff6f61;
  width: 100%;
}

.link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.header-title {
  color: white;
  font-weight: bolder;
}

.icon {
  font-size: 50px;
  color: white;
}

.link-container {
  display: flex;
  gap: 50px;
  padding: 10px 20px;
  justify-content: space-between;
}

.hidden-cart {
  display: none;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 30px;
  background-color: #fff;
  width: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 3;
}

@media (max-width: 768px) {
  .container-cart-products{
    display: block;
  }
}

@media (max-width: 480px) {
  .container-cart-products{
    width: auto;
    right: 10px;
  }
}