.header {
  margin: 0;
  background-color: #ff6f61;
  position: fixed;
  width: 100%;
}

.link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.header-title {
  color: white;
  font-weight: bolder;
}

.icon {
  font-size: 50px;
  color: white;
}

.link-container {
  display: flex;
  gap: 50px;
  padding: 10px 20px;
  justify-content: space-between;
}

.hidden-cart {
  display: none;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 30px;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.cart-empty {
  padding: 10px;
  text-align: center;
}

.btn-clear-all {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  display: block;
  width: 100%;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn-clear-all:hover {
  background-color: #333;
}
